* {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 70px auto 0;
}

.js-choices {
  display: flex;
  flex-wrap: wrap;
}

.js-choices .choice {
  text-align: center;
  width: 48%;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.js-question-title {
  text-align: center;
}

.btn-container {
  padding-top: 20px;
}

.btn-container button {
  padding: 10px 30px;
}
